<?xml version="1.0"?>
<configuration>
  <startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="TrainingWebAddress" value="https://{0}training.inrstar.co.uk/Security/Authentication/Logon" />
    <add key="N3WebAddress" value="https://{0}inrstar-alderaan.lumiradxcaresolutions.com/Security/Authentication/Logon" />
    <add key="Printer" value="HP Color LaserJet Pro MFP M377 PCL 6" />
    <add key="LabelPrinter" value="" />
    <add key="ListenerAddress" value="http://localhost:12345/INRstar/" />
    <add key="INPSVesPath" value="C:\INPSPolling\" />
    <add key="EMISWebSupplierId" value="76518359-06f3-469a-972e-5958d596f484" />
  </appSettings>
</configuration>
