<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <appSettings>
    <add key="TrainingWebAddress" value="https://{0}training.inrstar.co.uk/Security/Authentication/Logon" />
    <add key="N3WebAddress" value="https://inrstar-tatooine.lumiradxcaresolutions.com/Security/Authentication/LogOn?ReturnUrl=%2f" />
    <add key="Printer" value="Microsoft Print to PDF (redirected 14)" />
    <add key="LabelPrinter" value="" />
    <add key="ListenerAddress" value="http://localhost:12345/INRstar/" />
    <add key="INPSVesPath" value="C:\INPSPolling\" />
    <add key="EMISWebSupplierId" value="76518359-06f3-469a-972e-5958d596f484" />
  </appSettings>
</configuration>