<?xml version="1.0"?>
<configuration>
  <startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="TrainingWebAddress" value="https://{0}inrstar-it-demo1.caresolutions.lumiradx.com/Security/Authentication/Logon" />
    <add key="N3WebAddress" value="https://{0}inrstar-it-test1.caresolutions.lumiradx.com/Security/Authentication/Logon" />
    <add key="Printer" value="Microsoft Print to PDF" />
    <add key="LabelPrinter" value="" />
    <add key="ListenerAddress" value="http://localhost:12345/INRstar/" />
    <add key="INPSVesPath" value="C:\INPSPolling\" />
    <add key="EMISWebSupplierId" value="76518359-06f3-469a-972e-5958d596f484" />
    <add key="DisplayLabelPrinter" value="false" />
    <add key="DisplayUSBScanner" value="false" />
    <add key="DisplayInterfaces" value="false" />
    <add key="DisplayCoaguChek" value="false" />
  </appSettings>
</configuration>
